@import url('stardom.css');

body {  

  font-family: 'Stardom-Regular';
  
  background: #000000;

  display: grid;
  justify-content: center;
  align-content: center;
  height: 100vh;

}

body h1 {
  margin: auto;
  color: #ffffff;
  font-family: 'Stardom-Regular';
}

h1 {
  text-align: center;
  padding-bottom: .5rem;
}

body p { 
  margin: auto;
  color: #ffffff;
  text-align: left;
  text-size-adjust: 50;
  width: 100vh;
  font-size: medium;
}

.profile {
  margin: auto;
  height: auto;
  width: 30%;
  padding-bottom: 1rem;
}

.instagram   {
  margin: auto;
  height: auto;
  width: 2.5rem;
}