@import url('stardom.css');

body {  

  font-family: 'Stardom-Regular';
  
  background: #f88fa9;

  display: grid;
  justify-content: center;
  align-content: center;
  height: 100vh;

}

body h1 {
  margin: auto;
  color: #eee;
  font-family: 'Stardom-Regular';
}

h1 {
  text-align: center;
}

body p { 
  margin: auto;
  color: #eee;
  text-align: left;
  text-size-adjust: 50;
  width: 100vh;
}

.profile {
  margin: auto;
  height: auto;
  width: 30%;
}

.instagram   {
  margin: auto;
  height: auto;
  width: 2.5rem;
}