@import url('stardom.css');

body {  

  font-family: 'Stardom-Regular';
  
  background: rgb(237, 181, 192);

  display: grid;
  justify-content: center;
  align-content: center;
  height: 100vh;

}

body h1 {
  color: #eee;
  font-family: 'Stardom-Regular';
}

h1 {
  text-align: center;
}

p { 
  color: #eee;
  text-align:left;
  width: 100vh;
}

img {
  align-self: center;
  height: 95%;
  width: 10%;
}